<div class="col-12 grid-margin">
    <div class="card">
      <div class="card-body">
        <form class="form-sample">
          <div class="row">
            <div class="col-md-2">
              <div class="col-md-12">
                <div class="form-group row">
                  <label class="col-sm-12 col-form-label mt-sm-3" style="color: #57b049;">$ 180</label>
                </div>
              </div>
            </div>
            <div class="col-md-10 row">
              <div class="col-md-3 row">
                <div class="form-group">
                  <div class="col-sm-12 pr-0">
                    <div class="d-none d-sm-block">
                      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f5/AirAsia_New_Logo.svg/1200px-AirAsia_New_Logo.svg.png" width="30%" height="10%" alt="" srcset="">
                      <span style="font-size: 50%;" >Air Asian</span>
                    </div>
                    <span class="d-block d-sm-none" style="font-size: 50%;" >Air Asian</span>
                
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group" style="border-left: solid 1px #e5e5e5;">
                  <div class="col-sm-12 pr-0">
                   <p style="font-size: 50%;"> 10:10pm - 11:35pm  </p>
                   <p  style="font-size: 40%;"> Mon 11 Jun </p>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group" style="border-left: solid 1px #e5e5e5;">
                    <div class="col-sm-12 pr-0">
                     <p style="font-size: 50%;"> 2h 25 min  </p>
                     <p  style="font-size: 40%;"> Singapore( SIN) to Bangkok(DMK) </p>
                    </div>
                  </div>
              </div>
              <hr class="d-block d-sm-none" >
              <div class="col-md-3 row">
                <div class="form-group">
                  <div class="col-sm-12 pr-0">
                    <div class="d-none d-sm-block">
                      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f5/AirAsia_New_Logo.svg/1200px-AirAsia_New_Logo.svg.png" width="30%" height="10%" alt="" srcset="">
                      <span style="font-size: 50%;" >Air Asian</span>
                    </div>
                    <span class="d-block d-sm-none" style="font-size: 50%;" >Air Asian</span>
                
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group" style="border-left: solid 1px #e5e5e5;">
                  <div class="col-sm-12 pr-0">
                   <p style="font-size: 50%;"> 10:10pm - 11:35pm  </p>
                   <p  style="font-size: 40%;"> Mon 11 Jun </p>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group" style="border-left: solid 1px #e5e5e5;">
                    <div class="col-sm-12 pr-0">
                     <p style="font-size: 50%;"> 2h 25 min  </p>
                     <p  style="font-size: 40%;"> Singapore( SIN) to Bangkok(DMK) </p>
                    </div>
                  </div>
              </div>
              
            </div>
            
          </div>
        </form>
      </div>
    </div>
  </div>
 <div class="col-12 grid-margin">
    <div class="card">
      <div class="card-body">
        <form class="form-sample">
          <div class="row">
            <div class="col-md-2">
              <div class="col-md-12">
                <div class="form-group row">
                  <label class="col-sm-12 col-form-label mt-sm-3" style="color: #57b049;">$ 180</label>
                </div>
              </div>
            </div>
            <div class="col-md-10 row">
              <div class="col-md-3 row">
                <div class="form-group">
                  <div class="col-sm-12 pr-0">
                    <div class="d-none d-sm-block">
                      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f5/AirAsia_New_Logo.svg/1200px-AirAsia_New_Logo.svg.png" width="30%" height="10%" alt="" srcset="">
                      <span style="font-size: 50%;" >Air Asian</span>
                    </div>
                    <span class="d-block d-sm-none" style="font-size: 50%;" >Air Asian</span>
                
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group" style="border-left: solid 1px #e5e5e5;">
                  <div class="col-sm-12 pr-0">
                   <p style="font-size: 50%;"> 10:10pm - 11:35pm  </p>
                   <p  style="font-size: 40%;"> Mon 11 Jun </p>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group" style="border-left: solid 1px #e5e5e5;">
                    <div class="col-sm-12 pr-0">
                     <p style="font-size: 50%;"> 2h 25 min  </p>
                     <p  style="font-size: 40%;"> Singapore( SIN) to Bangkok(DMK) </p>
                    </div>
                  </div>
              </div>
              <hr class="d-block d-sm-none" >
              <div class="col-md-3 row">
                <div class="form-group">
                  <div class="col-sm-12 pr-0">
                    <div class="d-none d-sm-block">
                      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f5/AirAsia_New_Logo.svg/1200px-AirAsia_New_Logo.svg.png" width="30%" height="10%" alt="" srcset="">
                      <span style="font-size: 50%;" >Air Asian</span>
                    </div>
                    <span class="d-block d-sm-none" style="font-size: 50%;" >Air Asian</span>
                
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group" style="border-left: solid 1px #e5e5e5;">
                  <div class="col-sm-12 pr-0">
                   <p style="font-size: 50%;"> 10:10pm - 11:35pm  </p>
                   <p  style="font-size: 40%;"> Mon 11 Jun </p>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group" style="border-left: solid 1px #e5e5e5;">
                    <div class="col-sm-12 pr-0">
                     <p style="font-size: 50%;"> 2h 25 min  </p>
                     <p  style="font-size: 40%;"> Singapore( SIN) to Bangkok(DMK) </p>
                    </div>
                  </div>
              </div>
              
            </div>
            
          </div>
        </form>
      </div>
    </div>
  </div>
  