 .bottom-navbar {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

.pad-class{
    padding-right: 0px;
    padding-left: 0px;
}

.content-wrapper {
    padding: 0rem 0;
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
    margin-right: 0px; 
    margin-left: 0px; 
    min-height: calc(100vh - 135px - 75px);
    -webkit-flex-grow: 1;
    flex-grow: 1;
}

