<div>

    <app-header></app-header>

    <div class="">
        <div class="text-center" style="margin-top: 5%; ">
            <h3>Agence Nationale d'Identification des Personnes</h3>
            <strong> Obtenez vos actes de naissance en utilisant votre numéro d'identification personnel ou les informations liées</strong>
            <div>
                <div class="update ml-auto mr-auto">
                    <button type="submit" routerLink ="/indentification" class="btn btn-warning">Obtenir </button>
                </div>
              
            </div>
        </div>
    </div>
    <!-- <div class="content" style="margin-top: 10%;">
        <div class="container">
            <div class="row justify-content-center">

                <div class="col-sm-10 col-md-10 col-xs-12">
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab"
                                aria-controls="home" aria-selected="true">Je connais mon NPI</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
                                aria-controls="profile" aria-selected="false"> Utilisez mes informations
                                d'enroulement</a>
                        </li>

                    </ul>
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                            <div class="col-md-10" style="display: block; margin: auto;">
                                <div class="card card-user" style="box-shadow: 0 0px !important;">

                                    <div>
                                        <form>
                                            <div class="row">
                                                <div class="col-sm-12 col-md-12 col-xs-12">
                                                    <div class="form-group">
                                                        <label>NPI</label>
                                                        <input type="text" class="form-control"
                                                            placeholder="Home Address" value="Melbourne, Australia">
                                                    </div>
                                                </div>
                                            </div>

                                        </form>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">

                            <div class="col-md-10" style="display: block; margin: auto;">
                                <div class="card card-user" style="box-shadow: 0 0px !important;">

                                    <div>
                                        <form>
                                            <div class="row">
                                                <div class="col-sm-12 col-md-12 col-xs-12">
                                                    <div class="form-group">
                                                        <label>Récepissé d'enroulement</label>
                                                        <input type="text" class="form-control"
                                                            placeholder="Home Address" value="Melbourne, Australia">
                                                    </div>
                                                </div>
                                            </div>

                                        </form>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
                <div class="col-md-9" style="display: block; margin: auto;">
                    <div class="card card-user">

                        <div class="card-body">
                            <form>
                                <fieldset>
                                    <legend style="font-size: 100%;">Information personnelle</legend>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Nom</label>
                                                <input type="text" class="form-control" placeholder="Company"
                                                    value="Chet">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Prénom(s)</label>
                                                <input type="text" class="form-control" placeholder="Last Name"
                                                    value="Faker">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-5">
                                            <div class="form-group">
                                                <label>Date de naissance</label>
                                                <input type="date" class="form-control" disabled=""
                                                    placeholder="Company" value="Creative Code Inc.">
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label>Contact</label>
                                                <input type="number" class="form-control" placeholder="Username"
                                                    value="michael23">
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label for="exampleInputEmail1">Email</label>
                                                <input type="email" class="form-control" placeholder="Email">
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>



                                <fieldset>
                                    <legend style="font-size: 100%;">Information du Père</legend>
                                    <div class="row">

                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Nom</label>
                                                <input type="text" class="form-control" placeholder="City"
                                                    value="Melbourne">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Prénom(s)</label>
                                                <input type="text" class="form-control" placeholder="Country"
                                                    value="Australia">
                                            </div>
                                        </div>

                                    </div>
                                </fieldset>
                                <fieldset>
                                    <legend style="font-size: 100%;"> Information de la Mère</legend>
                                    <div class="row">

                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Nom</label>
                                                <input type="text" class="form-control" placeholder="City"
                                                    value="Melbourne">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Prénom(s)</label>
                                                <input type="text" class="form-control" placeholder="Country"
                                                    value="Australia">
                                            </div>
                                        </div>

                                    </div>
                                </fieldset>

                                <div class="row">
                                    <div class="update ml-auto mr-auto">
                                        <button type="submit" class="btn btn-primary btn-round">Update
                                            Profile</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div> -->
    <!-- 
    <footer class="footer footer-black  footer-white " style="background-color: black; color: white;">
        <app-footer></app-footer>
    </footer> -->
</div>